# Importing libraries

In [2]:
import numpy as np
import pandas as pd

# Importing dataset and creating dataframe

In [3]:
original_df = pd.read_csv("B:\DM TA\Rice_Cammeo_Osmancik.csv")
df = original_df

# Preprocessing

## EDA:

### Columns types:

In [4]:
df.dtypes

Area                  object
Perimeter            float64
Major_Axis_Length    float64
Minor_Axis_Length     object
Eccentricity         float64
Convex_Area           object
Extent               float64
Class                 object
dtype: object

### first 10 rows:

In [5]:
df.head(10)

,Area,Perimeter,Major_Axis_Length,Minor_Axis_Length,Eccentricity,Convex_Area,Extent,Class
0,7551,369.063995,163.408829,59.53240585,0.931275,7723,0.756462,Osmancik
1,8546,388.580994,172.519959,63.34475327,0.930152,8685,0.735456,Osmancik
2,7833,373.157013,162.516434,63.56500244,0.920336,8015,0.769752,Osmancik
3,9292,414.118988,183.639710,64.87107086,0.935528,9442,0.501078,Osmancik
4,7943,362.673004,154.886322,65.93088531,0.904877,8080,0.608659,Osmancik
5,9414,407.825012,179.545883,66.91815948,0.927949,9583,0.810434,Osmancik
6,9908,432.769012,188.187683,67.69534302,0.933059,10205,0.611680,Cammeo
7,8709,383.527008,164.193893,67.93288422,0.910397,8873,0.767989,Osmancik
8,9426,402.709992,175.974289,68.60753632,0.920869,9578,0.577432,Osmancik
9,9273,406.402008,173.414093,68.80253601,0.917925,9445,0.530098,Osmancik

### last 10 rows:

In [6]:
df.tail(10)

,Area,Perimeter,Major_Axis_Length,Minor_Axis_Length,Eccentricity,Convex_Area,Extent,Class
3817,9751,412.597992,175.450638,71.44275665,0.913341,10034,0.714359,Osmancik
3818,9802,412.368988,176.165573,71.48280334,0.913975,9991,0.566950,Osmancik
3819,8501,371.024994,153.896255,71.51190948,0.885481,8738,0.639846,Osmancik
3820,8850,381.433990,159.251205,71.76094818,0.892718,9063,0.572519,Osmancik
3821,10713,443.403992,192.886185,71.78689575,0.928164,10969,0.696101,Osmancik
3822,10151,420.899994,181.995575,72.09951019,0.918181,10407,0.521634,Osmancik
3823,10222,423.497009,182.800247,72.1242981,0.918873,10421,0.820385,Osmancik
3824,9216,384.342011,163.291626,72.26079559,0.896756,9352,0.624771,Osmancik
3825,11377,452.407989,201.306259,72.28141785,0.933314,11555,0.525545,Cammeo
3826,9598,397.000000,172.006790,72.28364563,0.907414,9766,0.796845,Osmancik

### Number of rows:

In [7]:
df.shape[0]

3827

### Number of columns:

In [8]:
df.shape[1]

8

### min and max of numeric columns:

In [9]:
df.min(numeric_only=True)

Perimeter            359.100006
Major_Axis_Length    145.264465
Eccentricity           0.777233
Extent                 0.497413
dtype: float64

In [10]:
df.max(numeric_only=True)

Perimeter            548.445984
Major_Axis_Length    239.010498
Eccentricity           0.948007
Extent                 0.861050
dtype: float64

## Data cleaning:

### Number of NaN values in each column:

In [11]:
df.isnull().sum()

Area                 1
Perimeter            0
Major_Axis_Length    3
Minor_Axis_Length    0
Eccentricity         0
Convex_Area          2
Extent               1
Class                0
dtype: int64

### Replacing ??? with NaN value, so we can use df.dropna() to drop them.

In [12]:
df.replace("???", np.NaN, inplace=True)
df.dropna(inplace=True)

In [13]:
df.isnull().sum()

Area                 0
Perimeter            0
Major_Axis_Length    0
Minor_Axis_Length    0
Eccentricity         0
Convex_Area          0
Extent               0
Class                0
dtype: int64

### -> as you can see, there are no more NaN values.

### Number of duplicates:

In [14]:
df.duplicated().sum()

16

### Drop duplicates:

In [15]:
df.drop_duplicates(inplace=True)

In [16]:
df.duplicated().sum()

0

### -> as you can see, there are no more duplicates.

### Reset indices

In [17]:
df.reset_index(drop=True, inplace=True)

### Columns' types

In [18]:
df.dtypes

Area                  object
Perimeter            float64
Major_Axis_Length    float64
Minor_Axis_Length     object
Eccentricity         float64
Convex_Area           object
Extent               float64
Class                 object
dtype: object

### Now we can change the columns' types:

In [19]:
df["Area"] = df["Area"].astype("int64")
df["Minor_Axis_Length"] = df["Minor_Axis_Length"].astype("float64")
df["Convex_Area"] = df["Convex_Area"].astype("float64")

In [20]:
df.dtypes

Area                   int64
Perimeter            float64
Major_Axis_Length    float64
Minor_Axis_Length    float64
Eccentricity         float64
Convex_Area          float64
Extent               float64
Class                 object
dtype: object

### -> as you can see, all the columns (except class) are numeric now.

In [21]:
df.mean(numeric_only=True)

Area                 12672.520789
Perimeter              454.333554
Major_Axis_Length      188.818005
Minor_Axis_Length       86.328101
Eccentricity             0.886885
Convex_Area          12957.439474
Extent                   0.661945
dtype: float64

In [22]:
df.std(numeric_only=True)

Area                 1731.227144
Perimeter              35.582385
Major_Axis_Length      17.445782
Minor_Axis_Length       5.720103
Eccentricity            0.020797
Convex_Area          1775.793357
Extent                  0.077269
dtype: float64

## Data Normalization

In [84]:
mean = df.mean(numeric_only=True)
std = df.std(numeric_only=True)

### Doing normalization on numeric columns of df:

In [85]:
numeric_columns = df.select_dtypes(include='number')

In [86]:
df.loc[:, numeric_columns.columns] = (numeric_columns - mean) / std + np.finfo(np.float32).eps

In [87]:
df.std(numeric_only=True)

Area                 1.0
Perimeter            1.0
Major_Axis_Length    1.0
Minor_Axis_Length    1.0
Eccentricity         1.0
Convex_Area          1.0
Extent               1.0
dtype: float64

In [88]:
df.mean(numeric_only=True)

Area                 1.192093e-07
Perimeter            1.192093e-07
Major_Axis_Length    1.192093e-07
Minor_Axis_Length    1.192093e-07
Eccentricity         1.192093e-07
Convex_Area          1.192093e-07
Extent               1.192093e-07
dtype: float64

### -> as you can see, the data is normalized.

# Processing

### Getting input:

In [89]:
new_data = []
for i in range(len(numeric_columns.columns)):
    val = float(input("enter value: "))
    new_data.append(val)

enter value: 1
enter value: 1
enter value: 1
enter value: 1
enter value: 1
enter value: 1
enter value: 1

### Normalizing new data:

In [90]:
new_data -= mean
new_data /= std + np.finfo(np.float32).eps

In [91]:
new_data

Area                 1.398072
Perimeter            1.000000
Major_Axis_Length    1.000000
Minor_Axis_Length    1.000000
Eccentricity         1.000000
Convex_Area          1.000000
Extent               1.000000
dtype: float64

### Calculating Euclidean distance between new data and dataframe's rows:

In [92]:
rows = df.loc[:, numeric_columns.columns].to_numpy()
distance = np.linalg.norm(rows - new_data.to_numpy(), axis=1)

## knn

### Finding k nearest neighbors

In [96]:
k = 61
df["distance"] = pd.Series(distance)
df = df.sort_values("distance").head(k)
df.drop(columns=["distance"], inplace=True)
print("\n This Rice is: \n", df.iloc[:, -1].mode()[0])

 This Rice is:
 Cammeo